database.sqlite
.cache/*
superdappstudio/web/files/user/*
superdappstudio/test
superdappstudio/web/files/ui/*
OAI_CONFIG_LIST
scratch/
superdappstudio/web/workdir/*
superdappstudio/web/ui/*
superdappstudio/web/skills/user/*
.release.sh
.nightly.sh

notebooks/work_dir/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
